body {
    background: #fefefe;

    font-family: sans-serif;

    line-height: 1.5;
}

header {
    position: fixed;
    padding: 0.5em;
    top: 0;

    text-align: center;

    color: #333;

}

header h1 {
    margin: 0;
}

header .description {
    color: #888;
}

textarea {
    width: 100%;
}

table {
    thead{
      border-bottom: 0.1em solid #333;
    }

    width: 100%;
    tr:nth-child(odd){background: #d6eef3
    }
}

tr.friday {
  border-bottom: 2px solid #ccc;
}

a[rel=next] {
  float: right;
}
a[rel=previous] {
  float: left;
}

nav {
  text-align: center;
  a { padding: 0.25em; display: inline-block; }
  span {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.button {
  margin-top: 12px;
}
