body {
    background: #fefefe;

    font-family: Sans-Serif;

    line-height: 1.5;
}

header {
    position: fixed;
    padding: 0.5em;
    top: 0;

    text-align: center;

    color: #333;
    border: 0.1em solid #bbb;

}

header h1 {
    margin: 0;
}

header .description {
    color: #888;
}

textarea {
    width: 100%;
}

table {
    width: 100%;
}

